.infinite-slider-container {
  display: flex;
  align-items: center;
}
.infinite-slider-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  margin-right: 16px;
  margin-left: 16px;
}
.infinite-slider-scroll {
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.infinite-slider-item {
  padding: 10px;
  margin: 10px;
  background-color: #4d4d4d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: normal;
}
.infinite-slider-item-active {
  background-color: #0077c2;
  font-weight: bold;
}
